MyAnimeList.xcodeproj/project.xcworkspace/xcuserdata/takamachinanoha.xcuserdatad/UserInterfaceState.xcuserstate
MyAnimeList.xcodeproj/xcuserdata/takamachinanoha.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MyAnimeList.xcodeproj/xcuserdata/takamachinanoha.xcuserdatad/xcschemes/MyAnimeList.xcscheme
MyAnimeList.xcodeproj/xcuserdata/takamachinanoha.xcuserdatad/xcschemes/xcschememanagement.plist